body {
	background-color: #f0f0f2;
}

.container {
	width: 600px;
	background-color: #fff;
	border-radius: 10px;
	padding: 35px 35px 50px;
	margin: 100px auto;
	box-shadow: 2px 3px 5px 1px #eee;
}

h1, p, a {
	font-family: sans-serif;
	line-height: 1.5;
}

a {
	text-decoration: none;
}